{% extends 'base.html' %}

{% block content %}

<p>
    <a class="btn-action btn-back" href="{{ url_for('show_repository', nickname=nickname, repository=repository) }}"><i
            class="bi bi-arrow-left"></i>Назад</a>
</p>

<h1>Коммиты в ветке {{ branch }}</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for commit in commits %}
        <tr class="table-secondary">
            <td>
                <a href="{{ url_for('show_commit', nickname=nickname, repository=repository, branch=branch, sha1=commit.sha1) }}">{{
                    commit.description }}</a></td>
            <td>{{ commit.sha1 }}</td>
            <td>{{ commit.date_time[:-7] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
