{% extends 'base.html' %}

{% block content %}

<h1>Соавторство в репозиториях:</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr class="table-secondary">
            <th>Название</th>
            <th>Создатель</th>
            <th>Описание</th>
            <th>Соавторы</th>
        </tr>
        </thead>
        <tbody>
        {% for repo in repos %}
        <tr class="table-secondary">
            <td><a href="{{ url_for('show_repository', nickname=repo.user.nickname, repository=repo.title) }}">{{
                repo.title }}</a></td>
            <td>{{ repo.user.nickname }}</td>
            <td>{{ repo.description }}</td>
            <td>{% for author in repo.coauthors %}
                <ul>{{ author.nickname }}</ul>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
