{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
<p>
    <a class="btn btn-primary" href="{{ url_for('post_audio') }}">Опубликовать новую аудиозапись</a>
</p>
{% endif %}

<h1>Новые аудиозаписи:</h1>
<table class="table">
    <thead>
    <tr class="table-secondary">
        <th>Название</th>
        <th>Аудиофайл</th>
        <th>Автор</th>
        <th>Опубликовал</th>
        <th>Дата публикации</th>
        <th>Оценки:</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr class="table-secondary">
        <td>{{ file.title }}</td>
        <td>
            <audio src="{{ file.path_to_file }}" controls></audio>
        </td>
        <td>{{ file.author }}</td>
        <td>{{ file.user.nickname }}</td>
        <td>{{ file.date_time }}</td>
        <td>
            <button class="like" data-id="{{ file.id }}"
                    {% if not current_user.is_authenticated %} disabled {% endif %}>like {{ file.likes|length }}
            </button>
            <button class="dislike" data-id="{{ file.id }}"
                    {% if not current_user.is_authenticated %} disabled {% endif %}>dislike {{ file.dislikes|length }}
            </button>
            {% if current_user.is_authenticated and current_user.id == file.posted %}
            <div>
                <a href="{{ url_for('audio_delete', id=file.id) }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
